RewriteEngine On
RewriteBase /migrate/

# Redirect index.php to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/migrate/index\.php [NC]
RewriteRule ^index\.php$ /migrate/ [R=301,L]

# Hide .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Handle routing through index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
